<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102049305394-p9h1r7j9s0euvhn4d0ms3uecuvblmop1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102049305394-p9h1r7j9s0euvhn4d0ms3uecuvblmop1</string>
	<key>API_KEY</key>
	<string>AIzaSyAPue_WBRuvmRefNXJ8mwqXJm97JJ1bMpI</string>
	<key>GCM_SENDER_ID</key>
	<string>102049305394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApp</string>
	<key>PROJECT_ID</key>
	<string>first-firebase-app-dee34</string>
	<key>STORAGE_BUCKET</key>
	<string>first-firebase-app-dee34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102049305394:ios:458fc09c081a1dcd6b3d2b</string>
</dict>
</plist>